<body>
    <%- include("./messages") %>
    <header class="header">
        <div class="container-left">
            <button class="menu-btn">
                <span class="font-size-lg material-symbols-outlined">menu</span>
            </button>
            <div class="menu-box">
                <header class="menu-header">
                    <% if(user) { %>
                        <a class="container-account" href="#">
                            <span class="material-symbols-outlined font-size-xxl fill-icon">account_circle</span>
                            <div>
                                <p class="font-size-base"><%= user.name %></p>
                            </div>
                        </a>
                    <% } else { %>
                        <a class="container-account" href="/register">
                            <span class="material-symbols-outlined font-size-xxl fill-icon">account_circle</span>
                            <div>
                                <p class="font-size-base"><%= language.header.menu.menuHeader %></p>
                            </div>
                        </a>
                    <% } %>
                </header>
                <section class="my-account">
                    <div class="container-title">
                        <h1 class="font-size-md"><%= language.header.menu.myAccount %></h1>
                    </div>
                    <div class="options normal-font">
                        <a class="options-item" href="#">
                            <span class="material-symbols-outlined fill-icon font-size-lg">person</span>
                            <span class="font-size-base"><%= language.header.dropDownMenuText1.dropDownOptions.myData %></span>
                        </a>
                        <a class="options-item" href="/favorites">
                            <span class="material-symbols-outlined fill-icon font-size-lg">favorite</span>
                            <span class="font-size-base"><%= language.header.dropDownMenuText1.dropDownOptions.favorites %></span>
                        </a>
                        <% if(user) { %>
                            <a class="options-item" href="/logout">
                                <span class="material-symbols-outlined fill-icon font-size-lg">logout</span>
                                <span class="font-size-base"><%= language.header.dropDownMenuText1.dropDownOptions.logout %></span>
                            </a>
                        <% } %>
                    </div>
                </section>
                <section class="help-configs space-top-3">
                    <div class="container-title">
                        <h1 class="font-size-md"><%= language.header.menu.helpSettings %></h1>
                    </div>
                    <div class="options normal-font">
                        <button class="change-language dropdown-trigger-click inside">
                            <div class="container-text-icon">
                                <span class="material-symbols-outlined font-size-lg">language</span>
                                <span class="font-size-base normal-font"><%= language.header.dropDownMenuText0.dropDownOptions.language.value %></span>
                            </div>
                            <div class="dropdown-click header inside normal-font">
                                <input class="change-language-btn-pt-en font-size-base normal-font" type="button" language="ptBr" value="🇧🇷 <%= language.header.dropDownMenuText0.dropDownOptions.language.options.option1 %>">
                                <input class="change-language-btn-pt-en font-size-base normal-font" type="button" language="en" value="🇺🇸 <%= language.header.dropDownMenuText0.dropDownOptions.language.options.option2 %>">
                            </div>
                        </button>
                        <button class="project-info-btn">
                            <span class="material-symbols-outlined font-size-lg">info</span>
                            <span class="font-size-base normal-font"><%= language.header.dropDownMenuText0.dropDownOptions.info %></span>
                        </button>
                    </div>
                </section>
            </div>
        </div>
        <div class="container-search">
            <button class="search-btn">
                <span class="search-icon font-size-lg material-symbols-outlined">search</span>
                <span class="right-arrow font-size-lg material-symbols-outlined">chevron_right</span>
            </button>
            <input type="text" class="radius-total" id="search-box">
        </div>
        <div class="container-title">
            <a href="/">
                <h1 class="font-size-lg font-wght-700">E-Commerce</h1>
            </a>
        </div>
        <div class="container-right">
            <div class="dropdown-trigger help-settings">
                <span class="material-symbols-outlined font-size-lg">info</span>
                <span class="normal-font text-info"><%= language.header.dropDownMenuText0.value %></span>
                <div class="options dropdown header left normal-font">
                    <button class="change-page-theme">
                        <span class="font-size-md material-symbols-outlined">dark_mode</span>
                        <span class="text">
                            <span class="font-size-sm"><%= language.header.dropDownMenuText0.dropDownOptions.darkMode %></span>
                            <span class="font-size-sm">
                                <strong class="text-status-darkmode">OFF</strong>
                            </span>
                        </span>
                    </button>
                    <button class="change-language dropdown-trigger-click inside">
                        <div class="container-text-icon">
                            <span class="material-symbols-outlined font-size-md">language</span>
                            <span class="font-size-base normal-font"><%= language.header.dropDownMenuText0.dropDownOptions.language.value %></span>
                        </div>
                        <div class="dropdown-click header inside normal-font">
                            <input class="change-language-btn-pt-en font-size-base normal-font" type="button" language="ptBr" value="🇧🇷 <%= language.header.dropDownMenuText0.dropDownOptions.language.options.option1 %>">
                            <input class="change-language-btn-pt-en font-size-base normal-font" type="button" language="en" value="🇺🇸 <%= language.header.dropDownMenuText0.dropDownOptions.language.options.option2 %>">
                        </div>
                    </button>
                    <button class="project-info-btn">
                        <span class="material-symbols-outlined font-size-md">info</span>
                        <span class="font-size-base normal-font"><%= language.header.dropDownMenuText0.dropDownOptions.info %></span>
                    </button>
                </div>
            </div>
            <div class="dropdown-trigger my-account">
                <% if(user) {%>
                    <a href="#">
                        <span class="material-symbols-outlined font-size-lg fill-icon">person</span>
                        <span class="normal-font text-info"><%= user.name %></span>
                    </a>
                <% } else { %>
                    <a href="/register">
                        <span class="material-symbols-outlined font-size-lg fill-icon">person</span>
                        <span class="normal-font text-info"><%= language.header.dropDownMenuText1.value %></span>
                    </a>
                <% } %>
                <% if(user) { %>
                    <div class="options dropdown header right normal-font">
                        <a class="options-item" href="#">
                            <span class="material-symbols-outlined fill-icon font-size-md">person</span>
                            <span class="text font-size-base"><%= language.header.dropDownMenuText1.dropDownOptions.myData %></span>
                        </a>
                        <a class="options-item" href="/favorites">
                            <span class="material-symbols-outlined fill-icon font-size-md">favorite</span>
                            <span class="text font-size-base"><%= language.header.dropDownMenuText1.dropDownOptions.favorites %></span>
                        </a>
                        <a class="options-item" href="/logout">
                            <span class="material-symbols-outlined fill-icon font-size-md">logout</span>
                            <span class="text font-size-base"><%= language.header.dropDownMenuText1.dropDownOptions.logout %></span>
                        </a>
                    </div>
                <% } %>
            </div>
            <a href="/cart">
                <span class="font-size-lg material-symbols-outlined">shopping_cart</span>
            </a>
        </div>
    </header>