<%- include("./includes/head") %>
<%- include("./includes/end-head/end-head-favorites") %>
<%- include("./includes/start-body") %>
    <section class="favorites space-sides max-width-section-align space-top">
        
    </section>
    <!-- <section class="empty-cart space-sides max-width-section-align">
        <div class="container-empty-cart">
            <div class="container-img margin-align-center">
                <img src="./assets/imgs/empty-cart.svg" alt="Empty cart">
            </div>
            <h1 class="font-size-md font-wght-400">Empty cart</h1>
        </div>
    </section> -->
<%- include("./includes/footer") %>
<%- include("./includes/end-footer/end-footer-favorites") %>
    