<%- include("./includes/head") %>
<%- include("./includes/end-head/end-head-index") %>
<%- include("./includes/start-body") %>
    <section class="landing-content space-sides max-width-section-align">
        <section class="section-categories space-top">
            <div class="container-title">
                <h1 class="font-size-base font-wght-700">Categories</h1>
            </div>
            <div class="container-categories">
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
                <div class="container-category category-category-model-load model-load"><a class="link-category font-size-base font-wght-400" href="#"></a></div>
            </div>
        </section>
        <section class="section-for-you space-top">
            <div class="container-title">
                <h1 class="font-size-base font-wght-700">For You</h1>
            </div>
            <div class="for-you-products">
                <div class="container-product for-you-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product for-you-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product for-you-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
            </div>
            <div>
                <a class="see-more-for-you-products font-wght-700" href="/foryou">See more</a>
            </div>
        </section>
    </section>
    <section class="secondary-content space-sides max-width-section-align space-2-top">
        <section class="space-top">
            <div class="container-title">
                <h1 class="font-size-base font-wght-700">Top rated</h1>
            </div>
            <div class="products-layout container-top-rated-products">
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
                <div class="container-product top-rated-product-model-load product-model-load model-load"><a class="product-link" href="#"><div class="container-thumbnail"></div><div class="container-bottom-infos"><div class="container-title model-load"><span class="normal-font font-size-base"></span></div><div class="container-price-and-others"><span class="span-price normal-font font-size-md model-load"></span><span class="discount normal-font model-load"></span></div></div></a></div>
            </div>
        </section>
    </section>
<%- include("./includes/footer") %>
<%- include("./includes/end-footer/end-footer-index.ejs") %>
