<%- include("./includes/head") %>
<%- include("./includes/end-head/end-head-myData") %>
<%- include("./includes/start-body") %>
    <section class="my-data space-sides max-width-section-align space-top">
        <div class="container-my-data-title">
            <h1 class="font-size-lg"><%= language.titleMyData %></h1>
        </div>
        <form class="form-edit-account-data font-size-base" action="/myData/edit" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <div class="container-input name">
                <label class="label-placeholder normal-font" for="userName"><%= language.formMyData.name %></label>
                <input class="input normal-font block-input" type="text" name="name" id="userName" value="<%= userData.name %>" readonly>
            </div>
            <div class="container-input surname">
                <label class="label-placeholder normal-font" for="userSurName"><%= language.formMyData.surname %></label>
                <input class="input normal-font block-input" type="text" name="surname" id="userSurName" value="<%= userData.surname %>" readonly>
            </div>
            <div class="container-input fit-all email">
                <label class="label-placeholder normal-font" for="userEmail">E-mail</label>
                <input class="input normal-font block-input" type="text" name="email" id="userEmail" value="<%= userData.email %>" readonly>
            </div>
            <div class="container-input fit-all password">
                <label class="label-placeholder normal-font" for="userPassword"><%= language.formMyData.password %></label>
                <input class="input normal-font block-input" type="password" name="password" id="userPassword" value="<%= userData.userPassword %>" readonly>
                <button class="btn-see-password" type="button">
                    <span class="material-symbols-outlined">visibility_off</span>
                </button>
            </div>
            <div class="container-submit">
                <div class="container-save-changes">
                    <button class="button-my-data submit-form font-wght-500" type="submit"><%= language.formMyData.btnSubmit %></button>
                    <button class="button-my-data cancel-form" type="button"><%= language.formMyData.btnCancelEdit %></button>
                </div>
                <button class="button-my-data edit-form font-wght-500" type="button"><%= language.formMyData.btnEdit %></button>
            </div>
        </form>
    </section>
<%- include("./includes/footer") %>
<%- include("./includes/end-footer/end-footer-myData") %>
    