<%- include("./includes/head") %>
<%- include("./includes/end-head/end-head-myData") %>
<%- include("./includes/start-body") %>
    <section class="favorites space-sides max-width-section-align space-top">
        
    </section>
<%- include("./includes/footer") %>
<%- include("./includes/end-footer/end-footer-myData") %>
    