<%- include("./includes/head") %>
<%- include("./includes/end-head/end-head-products") %>
<%- include("./includes/start-body") %>
    <section class="products-layout search-items space-sides max-width-section-align space-top-3">
        
    </section>
    <section class="not-found space-sides max-width-section-align">
        <div class="container-not-found">
            <div class="container-img margin-align-center">
                <img src="./assets/imgs/not-found.svg" alt="Not found">
            </div>
            <h1 class="font-size-md font-wght-400">No items were found</h1>
        </div>
    </section>
<%- include("./includes/footer") %>
<%- include("./includes/end-footer/end-footer-search") %>
