<%- include("./includes/head") %>
<%- include("./includes/end-head/end-head-products") %>
<%- include("./includes/start-body") %>
    <div class="filter-options space-sides max-width-section-align space-top-3">
        <select class="button order normal-font font-size-base">
            <option selected disabled>Order by</option>
            <option value="lower">Lowest price</option>
            <option value="bigger">Biggest price</option>
        </select>
        <button class="button filter font-size-base">
            <span>Filter</span>
            <span class="material-symbols-outlined font-size-md">tune</span>
        </button>
        <div class="filter-additional-box">
            <div class="container-price">
                <div>
                    <label for="min-price">
                        <h1 class="font-size-base">Min price</h1>
                    </label>
                    <input class="input-price font-size-base gap-top-0-65" type="number" id="min-price" placeholder="Min price">
                </div>
                <div>
                    <label for="max-price">
                        <h1 class="font-size-base">Max price</h1>
                    </label>
                    <input class="input-price font-size-base gap-top-0-65" type="number" id="max-price" placeholder="Max price">
                </div>
            </div>
            <div class="container-category gap-top-0-86">
                <h1 class="font-size-base">Category:</h1>
                <div class="container-options-category">
                    
                </div>
            </div>
            <div class="container-apply">
                <button class="apply-filters">Aplicar</button>
            </div>
        </div>
    </div>
    <section class="products-layout search-items space-sides max-width-section-align space-top">
        
    </section>
    <section class="not-found space-sides max-width-section-align">
        <div class="container-not-found">
            <div class="container-img margin-align-center">
                <img src="./assets/imgs/not-found.svg" alt="Not found">
            </div>
            <h1 class="font-size-md font-wght-400">No items were found</h1>
        </div>
    </section>
<%- include("./includes/footer") %>
<%- include("./includes/end-footer/end-footer-search") %>
