<%- include("./includes/head") %>
<%- include("./includes/end-head/end-head-register-login") %>
<%- include("./includes/start-body") %>
    <section class="register-login space-sides max-width-section-align space-top">
        <% if(route === "register") {%>
            <div class="container-register-login-title">
                <h1 class="font-size-lg">Sign up</h1>
            </div>
            <form class="form font-size-base" action="/register" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="container-input">
                    <label class="label-placeholder normal-font" for="userName">Name</label>
                    <input class="input normal-font" type="text" name="name" id="userName">
                </div>
                <div class="container-input">
                    <label class="label-placeholder normal-font" for="userSurName">Surname</label>
                    <input class="input normal-font" type="text" name="surname" id="userSurName">
                </div>
                <div class="container-input">
                    <label class="label-placeholder normal-font" for="userEmail">E-mail</label>
                    <input class="input normal-font" type="text" name="email" id="userEmail">
                </div>
                <div class="container-input">
                    <label class="label-placeholder normal-font" for="userPassword">Password</label>
                    <input class="input normal-font" type="text" name="password" id="userPassword">
                </div>
                <div>
                    <button class="submit-form font-wght-700" type="submit">Create Account</button>
                </div>
            </form>
            <div class="container-alternative">
                <p class="font-size-base">Already a customer? <a href="/login" class="accent">Login</a></p>
            </div>
        <% } else {%>
            <div class="container-register-login-title">
                <h1>Login</h1>
            </div>
            <form action="/login" method="post">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div>
                    <label for="userEmail">E-mail</label>
                    <input type="text" name="email" id="userEmail">
                </div>
                <div>
                    <label for="userPassword">Password</label>
                    <input type="text" name="password" id="userPassword">
                </div>
                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        <% } %>
    </section>
<%- include("./includes/footer") %>
<%- include("./includes/end-footer/end-footer-registerLogin.ejs") %>
